$bg-cal: #ffffff;

.Calculator {
  background-color: $bg-cal;
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  overflow: hidden;
  width: 766px;
  height: 404px;
}

.Calculator-align {
  display: flex;
  align-items: center;
}
