.Result {
  background-color: #00474b;
}

.Result-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
